.mobile-menu {
  width: 100px;
  height: 100px;
  background-color: rgb(196, 109, 196);
  padding: 20px;

  @media (min-width: 992px) {
    display: none;
  }
}

.desktop-menu {
  justify-content: space-between;
  color: rgb(21, 158, 221);
  background-color: silver;
  display: none;

  @media (min-width: 992px) {
    display: flex;
  }
}